@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", Helvetica, sans-serif;
}

.no-scrollbar {
    overflow-y: scroll; 
    scrollbar-width: none; /* ye wala firefox ke liye */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;  /* ye wala chrome, safari, edge ke liye */
}
